<div class="jumbotron">
  <div class="container-fluid">
    <h1>Welcome to Homy!</h1>
    <p>A Fresh, Home-made and Delicious meal from <strong>Momy</strong>...</p>
  </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-4 col-sm-12 food-card ">
            <%= image_tag ("/assets/kabab.jpg") %>
            <div class="title">
                <h4>Kabab</h4>
            </div>    
        </div>
        <div class="col-md-4 col-sm-12 food-card">
            <%= image_tag ("/assets/ash.jpg") %>
            <div class="title">
                <h4>Soup</h4>
            </div>
        </div>
        <div class="col-md-4 col-sm-12 food-card">
            <%= image_tag ("/assets/zereshk.jpg") %>
            <div class="title">
                <h4>Stew</h4>
            </div>
        </div>
    </div>
</div>

<p>

    <div>div1</div>
    <div> div2</div>

</p>
