<nav class="navbar navbar-expand-lg navbar-light bg-light">
     <a class="navbar-brand" href="#">
    <strong>Hom<span style="color: green;font-size:130%;">y</span>!</strong>
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse foods" id="navbarNav">
    <ul class="navbar-nav">
    
      <li class="nav-item">
        <a class="nav-link" href="#">Sign Up</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Sign In</a>
      </li>
      
    </ul>
  </div>
</nav>

<div class="jumbotron">
  <div class="container-fluid">
    <h1 align="center">Fresh, Home-made and Delicious meal from <strong>Mom<span style="color: green; font-size:125%;">y</span></strong>...</h1>
    <div class="row dokme">
        <div class="col-md-4 col-md-offset-2 text-center">
            <a class="btn btn-normal btn-heavy one" style="margin-bottom: 5px;" href="/search">Order a Meal</a>
        </div>
        <div class="col-md-4 col-md-offset-2 text-center">
            <a class="btn btn-normal btn-heavy two" href="/registration">List Your Meal</a>
        </div>
    </div>
  </div>
</div>

<div class="container">
    <div class="row">
        <% @categories.each do |category| %>
            <div class="col-md-4 col-sm-12 food-card ">
                <a href="category/<%= category.id %>">                
                    <img src="<%= category.picture %>"/>

                    <div class="title">
                        <h4><%= category.name %></h4>
                    </div>
                </a>
            </div>
        <% end %>
    </div>
</div>
