<div class="jumbotron">
  <div class="container-fluid">
    <h1>Welcome to Homy!</h1>
    <p>A Fresh, Home-made and Delicious meal from <strong>Momy</strong>...</p>
  </div>
</div>

<div class="container">
    <div class="row">
        <% @categories.each do |category| %>
            <div class="col-md-4 col-sm-12 food-card ">
                <a href="category/<%= category.id %>">                
                    <img src="<%= category.picture %>"/>

                    <div class="title">
                        <h4><%= category.name %></h4>
                    </div>
                </a>
            </div>
        <% end %>
    </div>
</div>

